<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<footer class="center-align #00796b teal darken-2 page-footer">
    <a class="footer" target="_blank" href="https://www.facebook.com/pickyeater123/"></a>
    <a class="footer" target="_blank" href="https://www.facebook.com/pickyeater123/"><i class="fa fa-facebook"></i></a>
    <a class="footer" target="_blank" href="https://twitter.com/pickyEater1"><i class="fa fa-twitter"></i></a>
    <a class="footer" target="_blank" href="https://www.instagram.com/pickyeater_app/"><i class="fa fa-instagram"></i></a>
    <a class="footer" href="mailto:moneyforpickyeater@gmail.com?subject=I wanna give you money, you're pretty!">Email us!</a>
    <a class="footer" href="mailto:moneyforpickyeater@gmail.com?subject=I wanna give you money, you're pretty!"><i class="fa fa-envelope-o"Email us!></i></a>
    <div class="container">
  <div class="center-align page-footer copyright footer">
      © 2016 Copyright PickyEater
    </div>
  </div>
</footer>
