<footer class="#00796b teal darken-2 page-footer">
  <div class="page-footer copyright">
    <div class="container">
      © 2016 Copyright PickyEater
    <a class="page-footer right email" href="mailto:moneyforpickyeater@gmail.com?subject=I wanna give you money, you're pretty!">Email us!</a>
  </div>
</footer>
