<header class="logo"><img src="assets/logo.png"></header>
  <nav class="#00796b teal darken-2">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/wishlists">My Lists</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="">Randomize</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="">Sign Up</a></li>
        <% if (user) { %>
        <li><a href="/logout"></i>Hi <%= user.name %> Logout</a></li>
        <% } else { %>
        <li><a href="/auth/google"></i>Login with Google</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
