<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

</head>
<body>

  <%- include('partials/navbar') %>
  <div id="img-container">
  <img id="image" class="plates" src="assets/plates.png">
  <img id="image" src="assets/questionmarks.png">
  <img id="image" src="assets/loveplate.png">
  </div>
  <div id="team-container">
    <div id="onepic">
      <div id="teampics"></div>
    </div>
    <div id="onepic">
      <div id="teampics"></div>
    </div>
    <div id="onepic">
      <div id="teampics"></div>
    </div>
    <div id="onepic">
      <div id="teampics"></div>
    </div>
    <div id="onepic">
      <div id="teampics"></div>
    </div>
  </div>

  <%- include('partials/scripts') %>



</body>
</html>
