<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>

</head>
<body>
  <#%- include('partials/header', {subHeading: 'Welcome'}) %>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo left">WDI Student Fun Facts</a>
          <ul class="right">
            <% if (user) { %>
            <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
            <% } else { %>
            <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
  <main>
  <!-- action = url redirect after submitting form -->
    <form method="POST" action="/search">
      <label for="search">Location</label>
      <input id="search" type="text" name="search[place]" placeholder="Cleveland, OH"/>
      <br>
      <label for="search">Number of Results</label>
      <input id="limit" type="text" name="search[limit]" placeholder="Number of Results Ex: 1"/>
      <br>
      <label for="search">Search Category</label>
      <input id="category" type="text" name="search[category]" placeholder="Category. Ex: Burgers"/>
      <br>
      <input type="submit" value="Search" />
    </form>
    <ul>
      <li><a href="/users">Visit the user list.</a></li>
    </ul>
  </main>

  <%- include('partials/scripts') %>
</body>
</html>
