<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header', {subHeading: 'Welcome'}) %>

  <main>
  <!-- action = url redirect after submitting form -->
    <form method="POST" action="/search">
      <label for="search">Place Name</label>
      <input id="search" type="text" name="search[place]" placeholder="Cleveland, OH"/>
      <br>
      <label for="search">Number of Results</label>
      <input id="limit" type="text" name="search[limit]" placeholder="Number of Results Ex: 1"/>
      <br>
      <label for="search">Search Category</label>
      <input id="category" type="text" name="search[category]" placeholder="Category. Ex: Burgers"/>
      <br>
      <input type="submit" value="Search" />
    </form>
    <ul>
      <li><a href="/users">Visit the user list.</a></li>
    </ul>
  </main>

  <%- include('partials/scripts') %>
</body>
</html>
