
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>

  <h1>Wishlists</h1>
  <ul class="collection with-header", id="wishlist-list">

  <template id="wishlistTemplate1">
  <li data-id='{{_id}}'>
  <p> title:
  <span class="noedit title">{{title}}</span>
  <input class="edit title"/>
  </p>
  <button data-id="{{_id}}" class="remove">X</button>
  <button class="editList noedit">Edit</button>
  <button class="saveEdit edit">Save</button>
  <button class="cancelList edit">Cancel</button>
  </li>
  </template>

 <template id="wishlistTemplate2">
  <li data-id='{{_id}}'>
  restaurant:
  <span class="noedit name">{{name}}</span>
  <span class="noedit name"><img src= '{{picture_url}}'></span>
  <input class="edit name"/>
  </li>
  </template>

  <template id= "modalWishlistTemplate">
  <li>
  <p><input name="title" type="radio" id="{{_id}}"/><label for="{{_id}}">{{title}}</label></p>
  </li>
  </template>

  </ul>


  <h4>Add Wishlist</h4>
  <p>title: <input type="text" id="title"></p>
  <button id="add-wishlist">Add</button>
  <%- include('partials/scripts') %>
  <script src="/js/wishlist_index.js"></script>
</body>
</html>
