
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>

  <h1>Wishlists</h1>
  <ul class="collection with-header", id="wishlist-list">



  </ul>


  <h4>Add Wishlist</h4>
  <p>title: <input type="text" id="title"></p>
  <button id="add-wishlist">Add</button>
  <%- include('partials/scripts') %>
  <script src="/js/wishlist_service.js"></script>
</body>
</html>
