*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
  padding-top: 0px;
}

a { color: #00B7FF; }

.logo {
  text-align: center;
  background-color: #9BD3DE;
}

/*search_results.ejs page*/

#list-container {
  border: 2px solid;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  max-height: 700px;
  overflow: scroll;
}

.list {
  border: 2px solid;
}

.activator {
  max-height: 100px;
  max-width: 100px;
}

#card {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-top: 20px;
}

#card-image {
  background-color: brown;
}

#card-reveal {

}
