*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
  padding-top: 0px;
  background-image: url("http://p1.pichost.me/i/45/1686193.jpg");
}

a { color: #00B7FF; }

.logo {
  text-align: center;
  background-color: aliceblue;
  opacity: 0.6;
}

/*home*/
#image {
  /*border: 2px solid;*/
  max-height: 500px;
  max-width: 400px;
}

#img-container {
  border: 2px solid;
  text-align: center;
  background-color: #9BD3DE;
}

#teampics .img{
  height: 100%;
  width: auto;
}
#teampics .img{
  height: 200px;
  width: 200px;
  border: 2px solid;
  border-radius: 50%;
}

#onepic  {
  border: 2px solid;
  height: 400px;
  background-color: #00796B;
}

#team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid;
  background-color: #9BD3DE;
}

/*search_results.ejs page*/

#list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.list {
  border: 2px solid;
}

.activator {
  max-height: 100px;
  max-width: 100px;
}

.card {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

#card-image {
  background-color: #00796b;
}

.toast {
  left: 90px;
}

/*wishlists.ejs page*/

ul li .edit {
  display: none;
}

ul li.edit .edit {
  display: initial;
}

ul li.edit .noedit {
  display: none;
}

.email, .copyright {
  color: #EEEEEF;
}
.title, .wishlist-title{
  font-family: "Anton", "sans-serif";
  font-size: 50px;
  color: black;
}
.wishlist-container {
  text-align: center;
  /*float: left;*/
}

.restaurants-container {
  display: inline-block;
  min-width: 330px;
  min-height: 290px;
  background-color: #9BD3DE;
  margin-top: 15px;
}

.card-info {
  margin-top: 20px;
}


/*show_ejs*/

.card-medium {
  min-height: 450px;
  width: 440px;
  border: 2px solid white;
}

.restaurant-name {
  margin-top: 15px;
}

.grab-me {
  display: flex;
  flex-wrap: wrap;
}
.show-card {
  padding: 20px;
}

/*restaurants.ejs*/



